<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id= 'nav-bar'>
      <button>
        <%= link_to "Personal Trainer", personal_trainers_path %>
      </button> |
      <button>
        <%= link_to "Routines", routines_path %>
      </button> |
      <button>
        <%= link_to "Exersices", exercises_path %>
      </button> |
      <button>
        <%= link_to "Workout Plans", workout_plans_path %>
      </button> |
      <button>  
        <%= link_to "Clients", clients_path %>
      </button> |
      <button>
        <%= link_to "Reviews", reviews_path %>
      </button>
    </div>
    <%= yield %>
  </body>
</html>
